---
layout: post-list
title: 时间页
description: "An archive of posts sorted by date."
comments: false
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tags_list = site_tags | split:',' | sort %}

<ul class="entry-meta">
  {% for item in (0..site.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
      <li>
        <a href="#{{ this_word }}" class="tag">{{ this_word }}</a>
        </li>
  {% endunless %}{% endfor %}
</ul>

{% for item in (0..site.tags.size) %}{% unless forloop.last %}
  {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
	<article>
	<h2 id="{{ this_word }}" class="category-listing-seperator">{{ this_word }}(共{{ site.tags[this_word].size }}篇)</h2>
		<ul class="entry-title">
    {% for post in site.tags[this_word] %}{% if post.title != null %}
      <li >
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}
          <time datetime="{{ post.date | date_to_string}}">{{ post.date | date: "%Y-%m-%d" }}</time>
        </a>
      </li>
    {% endif %}{% endfor %}
		</ul>
	</article><!-- /.hentry -->
{% endunless %}{% endfor %}
