---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>{{ page.title }}</h1>
                </div>

                {% assign post_dates = site.posts | map:"date" %}
                {% capture site_dates %}{% for date in post_dates %}{{ date | date:"%Y" }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
                {% assign date_list = site_dates | split:',' | sort %}
                <!--<div>
                  <h1> {{ date_list }} </h1>
                </div>-->


                {% assign post_array = site.posts | map:"date" %}
                <!--<ul>
                {% for item in (0..post_array.size) %}{% unless forloop.last %}
                {% capture this_date %} {{ post_array[item] | date: "%Y" }} {% endcapture %}
                <li>
                    <a>{{ this_date }}</a>
                    </li>
                  {% endunless %}{% endfor %}
                </ul>-->


                <article class="post-list">
                <!--<div class="post-list">-->
                  {% for post in site.posts %}{% if post.project == null %}
                  <ul>
                      <li class="wow fadeInLeft" data-wow-duration="1.5s">
                        <a class="zoombtn" href="{{ site.url }}{{ post.url }}">
                          <span class="date">{{ post.date | date_to_string }}</span>
                          <span class="article-title">{{ post.title }}</span>
                          <div class="sort-in-index-post">
                            <div class="sort">{{ post.tags }}</div>
                          </div>
                        </a>
                      </li>
                  </ul>
                  {% endif %}{% endfor %}
                  <!--</div>-->
                </article>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
